APP_NAME="SGD - MTTECD"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000
APP_LOCALE=pt_PT

FRONTEND_URL=http://localhost:5173
SANCTUM_STATEFUL_DOMAINS=localhost:5173
SESSION_DOMAIN=localhost

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=sgd
DB_USERNAME=sgd_user
DB_PASSWORD=change_me_in_env

SESSION_DRIVER=redis
SESSION_LIFETIME=15
CACHE_STORE=redis
QUEUE_CONNECTION=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=sgd_minio_admin
AWS_SECRET_ACCESS_KEY=change_me_in_env
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=sgd-anexos
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

MAIL_MAILER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM_ADDRESS="nao-responder@mttecd.gov.gw"
MAIL_FROM_NAME="${APP_NAME}"

# Requisito RF005: expiracao de sessao ao fim de 15 min de inatividade
SGD_ANEXO_TAMANHO_MAXIMO_MB=20
SGD_2FA_PERFIS_OBRIGATORIOS=MIN,SG,CG
